-# .row
-# %h1{style: 'text-align: center;'} Zasługi
-# %dl{style: 'text-align: center; margin: 0 auto;'}
-#   %dt Marek Kaput
-#   %dd logo i pomoc w designie
.row{style: 'text-align: center'}
  %img{src: "img/jrtunes.png", alt: "logo"} 
.row
  %h4{style: 'text-align: center'} Aplikacje inspirowana cytatem:
  %blockquote{class: 'small-6 large-centered columns'}
    "#{@quotes.sample}"
.row
  %h1 Podziękowania
  %a{href: 'https://github.com/jajakobyly'} 
    Murk
  za pomoc w designie i najlepsiejsze logo.
  %br
  Zespołowi
  %a{href: 'http://jruby.org/'} 
    %img{src: "img/id-jruby.png", alt: "jruby logo", style: 'height: 30px; margin: 5px;'}
  za implementacje ruby.
  %br
  Zespołowi
  %a{href: 'http://angularjs.org/'} 
    %img{src: "img/AngularJS.png", alt: "angular logo", style: 'height: 30px; margin: 5px;'}
  za framework do frontendu.
  %br
  %a{href: 'https://github.com/krists'} 
    Krists Ozols
  i 
  %a{href: 'https://github.com/moumar'} 
    moumar
  za biblioteki do tagów mp3.
.row{style: 'text-align: center; margin-top: 20px'}
  Stworzone z &#9829; za pomocą 
  %img{src: "img/ruby.png", alt: "Ruby logo", style: 'height:16px; margin:2px'} przez Marcin Henryk Bartkowiak
  %br
  2014
