#waiter{'ng-show' => '!songs'}
  %h1{style: 'text-align:center'} Proszę czekać
.row
  %input{'ng-model' => 'search', placeholder: 'szukaj', class: 'small-3 large-3', id: 'finder'}
  %form{action: "change_folder", method: 'post', id: 'folder_change', class: 'small-3 large-3'}
    %input{placeholder: 'Zmień folder z muzyką(podaj ścieżkę)', name: 'path'}
  #reload
    %a{href: "/reload", class: 'button radius-button'} Odśwież
.row
  #artists{class: 'large-2', style: 'max-height: 500px; overflow: scroll'}
    %label{class: 'artist', 'data-ng-repeat' => '(name, artist) in artists'}
      %input{type: "radio", name: 'artist', value: '{{name}}', 'ng-click' => "id_filter.id = toggleFilter(artist.songs, id_filter.id, false)", onclick: 'docheck(this)'}
        {{name}}
  %ul{id: 'albums', class: 'small-9 large-9'}
    %li{"data-ng-repeat" => "(title, album) in albums"}
      %img{src: "{{album.cover | album_path}}", alt: "{{title}}", style: 'height:160px; width: 160px;', 'data-songs' => '{{album.songs}}', class: 'album_cover', 'ng-click' => "id_filter.id = toggleFilter(album.songs, id_filter.id, true)", onclick: 'toggleSelected(this)'}
      %span{class: 'title'} {{title | shorter}}
  -# %input{type: 'text', 'ng-model' => 'id_filter.id', value: '[1]', id: 'album_id', 'ng-init' => '', 'ng-value' => ' ', style: 'display: none;'}

.row
  %table{id: 'songs_table'}
    %thead
      %tr
        %th{'ng-click' => "changeSorting('id')", 'ng-class' => "selectedHeader('id')"} ID
        %th{'ng-click' => "changeSorting('title')", 'ng-class' => "selectedHeader('title')"} Tytuł
        %th{'ng-click' => "changeSorting('artist')", 'ng-class' => "selectedHeader('artist')"} Autor
        %th{'ng-click' => "changeSorting('album')", 'ng-class' => "selectedHeader('album')"} Album
        %th{'ng-click' => "changeSorting('tracknr')", 'ng-class' => "selectedHeader('tracknr')"} Numer w albumie
        %th{'ng-click' => "changeSorting('genre')", 'ng-class' => "selectedHeader('genre')"} Gatunek
        %th{'ng-click' => "changeSorting('file')", 'ng-class' => "selectedHeader('file')"} Plik
        %th Graj
        %th Edytuj
    %tr{'data-ng-repeat' => 'song in songs | orderBy:sort.column:sort.descending | by_id:id_filter.id | filter: search'}
      %td {{song.id}}
      %td {{song.title}}
      %td {{song.artist}}
      %td {{song.album}}
      %td {{song.tracknr}}
      %td {{song.genre}}
      %td {{song.file}}
      %td
        %img{src: "img/play_button.png", alt: "Zagraj", 'play-sound' => '', class: 'play-button'}
      %td
        %img{src: "img/cog.png", alt: "Edytuj", class: 'edit', 'edit-button' => ''}
    %tfoot
#edit_form{class: 'large-4'}
  #drag{draggable: '', class: 'small-12'}
  %img{src: 'img/close-icon.png', alt: 'Zamknij', id: 'close_icon', 'hide-parent' => ''}
  %form{action: "edit_song", method: 'post'}
    %input{type: 'hidden', name: 'id', id: 'edit_form_id'}
    %label
      Tytuł
      %input{type: "text", name: 'title', placeholder: ''}
    %label
      Artysta
      %input{type: "text", name: 'artist_name', placeholder: ''}
    %label
      Album
      %input{type: "text", name: 'album', placeholder: ''}
    %label
      Gatunek
      %select{name: 'genre'}
        %option{value: '0'} Blues
        %option{value: '1'} Classic Rock
        %option{value: '2'} Country
        %option{value: '3'} Dance
        %option{value: '4'} Disco
        %option{value: '5'} Funk
        %option{value: '6'} Grunge
        %option{value: '7'} Hip-Hop
        %option{value: '8'} Jazz
        %option{value: '9'} Metal
        %option{value: '10'} New Age
        %option{value: '11'} Oldies
        %option{value: '12'} Other
        %option{value: '13'} Pop
        %option{value: '14'} R&B
        %option{value: '15'} Rap
        %option{value: '16'} Reggae
        %option{value: '17'} Rock
        %option{value: '18'} Techno
        %option{value: '19'} Industrial
        %option{value: '20'} Alternative
        %option{value: '21'} Ska
        %option{value: '22'} Death Metal
        %option{value: '23'} Pranks
        %option{value: '24'} Soundtrack
        %option{value: '25'} Euro-Techno
        %option{value: '26'} Ambient
        %option{value: '27'} Trip-Hop
        %option{value: '28'} Vocal
        %option{value: '29'} Jazz+Funk
        %option{value: '30'} Fusion
        %option{value: '31'} Trance
        %option{value: '32'} Classical
        %option{value: '33'} Instrumental
        %option{value: '34'} Acid
        %option{value: '35'} House
        %option{value: '36'} Game
        %option{value: '37'} Sound Clip
        %option{value: '38'} Gospel
        %option{value: '39'} Noise
        %option{value: '40'} AlternRock
        %option{value: '41'} Bass
        %option{value: '42'} Soul
        %option{value: '43'} Punk
        %option{value: '44'} Space
        %option{value: '45'} Meditative
        %option{value: '46'} Instrumental Pop
        %option{value: '47'} Instrumental Rock
        %option{value: '48'} Ethnic
        %option{value: '49'} Gothic
        %option{value: '50'} Darkwave
        %option{value: '51'} Techno-Industrial
        %option{value: '52'} Electronic
        %option{value: '53'} Pop-Folk
        %option{value: '54'} Eurodance
        %option{value: '55'} Dream
        %option{value: '56'} Southern Rock
        %option{value: '57'} Comedy
        %option{value: '58'} Cult
        %option{value: '59'} Gangsta
        %option{value: '60'} Top 40
        %option{value: '61'} Christian Rap
        %option{value: '62'} Pop/Funk
        %option{value: '63'} Jungle
        %option{value: '64'} Native American
        %option{value: '65'} Cabaret
        %option{value: '66'} New Wave
        %option{value: '67'} Psychadelic
        %option{value: '68'} Rave
        %option{value: '69'} Showtunes
        %option{value: '70'} Trailer
        %option{value: '71'} Lo-Fi
        %option{value: '72'} Tribal
        %option{value: '73'} Acid Punk
        %option{value: '74'} Acid Jazz
        %option{value: '75'} Polka
        %option{value: '76'} Retro
        %option{value: '77'} Musical
        %option{value: '78'} Rock & Roll
        %option{value: '79'} Hard Rock
        %option{value: '80'} Folk
        %option{value: '81'} Folk/Rock
        %option{value: '82'} National Folk
        %option{value: '83'} Swing
        %option{value: '84'} Fast-Fusion
        %option{value: '85'} Bebob
        %option{value: '86'} Latin
        %option{value: '87'} Revival
        %option{value: '88'} Celtic
        %option{value: '89'} Bluegrass
        %option{value: '90'} Avantgarde
        %option{value: '91'} Gothic Rock
        %option{value: '92'} Progressive Rock
        %option{value: '93'} Psychedelic Rock
        %option{value: '94'} Symphonic Rock
        %option{value: '95'} Slow Rock
        %option{value: '96'} Big Band
        %option{value: '97'} Chorus
        %option{value: '98'} Easy Listening
        %option{value: '99'} Acoustic
        %option{value: '100'} Humour
        %option{value: '101'} Speech
        %option{value: '102'} Chanson
        %option{value: '103'} Opera
        %option{value: '104'} Chamber Music
        %option{value: '105'} Sonata
        %option{value: '106'} Symphony
        %option{value: '107'} Booty Bass
        %option{value: '108'} Primus
        %option{value: '109'} Porn Groove
        %option{value: '110'} Satire
        %option{value: '111'} Slow Jam
        %option{value: '112'} Club
        %option{value: '113'} Tango
        %option{value: '114'} Samba
        %option{value: '115'} Folklore
        %option{value: '116'} Ballad
        %option{value: '117'} Power Ballad
        %option{value: '118'} Rhythmic Soul
        %option{value: '119'} Freestyle
        %option{value: '120'} Duet
        %option{value: '121'} Punk Rock
        %option{value: '122'} Drum Solo
        %option{value: '123'} A capella
        %option{value: '124'} Euro-House
        %option{value: '125'} Dance Hall
        %option{value: '126'} Goa
        %option{value: '127'} Drum & Bass
        %option{value: '128'} Club House
        %option{value: '129'} Hardcore
        %option{value: '130'} Terror
        %option{value: '131'} Indie
        %option{value: '132'} BritPop
        %option{value: '133'} NegerPunk
        %option{value: '134'} Polsk Punk
        %option{value: '135'} Beat
        %option{value: '136'} Christian Gangsta
        %option{value: '137'} Heavy Metal
        %option{value: '138'} Black Metal
        %option{value: '139'} Crossover
        %option{value: '140'} Contemporary C
        %option{value: '141'} Christian Rock
        %option{value: '142'} Merengue
        %option{value: '143'} Salsa
        %option{value: '144'} Thrash Metal
        %option{value: '145'} Anime
        %option{value: '146'} JPop
        %option{value: '147'} SynthPop
    %label
      Numer w albumie
      %input{type: "text", name: 'tracknr', placeholder: ''}
    %input{type: "submit", value: 'Edytuj'}
  %form{action: 'remove_song', method: 'post', id: 'remove_form'}
    %input{type: 'hidden', id: 'remove_form_id', name: 'id'}
    %input{type: 'submit', value: 'Usuń', id: 'remove_song_button'}
%footer
  %audio{controls: '', id: 'player', class: 'large-3'}
    No cóż
  .large-4{style: 'float: left; margin-left: 2pt; text-align: left; font-size: 14px'}
    Teraz gramy:
    %br
    %span{id: 'song-title'}
  %div{style: 'float: right; text-align: right', class: 'large-4'}
    %span Czas toczenia tej strony wyniósł aż #{Time.now - @start_time} sekund.
    %span{class: 'licznik'}
      Toczymy się razem już
      %span{id: 'wart', data: { 'value' => "#{(Time.now - WebGui::BOOT_TIME).to_i}" }}
