!!!
%html{lang: "pl", "data-ng-app" => "jrTunes"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "rTunes", name: "description"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %title jrTunes - Się toczy się gra!
    %link{rel: :stylesheet, type: "text/css", href: "css/foundation.css"}
    %link{rel: :stylesheet, type: "text/css", href: "css/style.css"}
    %script{src: 'js/script.js'}
  %body
    %div{"data-ng-view" => "", id: 'container', class: 'small-12 large-12'}
    %script{src: "js/angular.min.js"}
    %script{src: "js/angular-route.min.js"}
    %script{src: "js/angular-resource.min.js"}
    %script{src: 'js/app.js'}
    %script{src: 'js/controllers.js'}
    %script{src: 'js/services.js'}
    %script{src: 'js/filters.js'}
    %script{src: 'js/directives.js'}
    %script{src: 'js/filter_handler.js'}
    %script{src: 'js/jquery-1.11.0.min.js'}


